*{
    margin: 0; padding: 0; box-sizing: border-box;
}

main {
    background-image: url(image/natureza_capa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main #info{
    margin-top: 3rem;
    width: 60%;
    height: auto;
    text-align:justify;
    padding: 1rem;
}
main #info h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #222;
    color: wheat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.199), rgba(34, 34, 34, 0.842) , rgba(34, 34, 34, 0.233));
    padding: 10px;
}


main #info p{
    text-align: justify;
    color: wheat;
    text-shadow: 1px 1px 1px #222;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    line-height: 2rem;
   
}

.kontainer{
    margin-top: 3rem;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: auto;
    background-color: rgba(34, 34, 34, 0.747);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper{
    width: 75%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    height: 60vh;
}
.swiper .swiper-button-prev {
    color: #fff;
}
.swiper .swiper-button-next{
    color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background-color: #fff;
}

main section{
    margin-top: 3rem;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

main section article{
    width: 60vw;
    height: auto;
    background-color: rgba(34, 34, 34, 0.562);
    column-count: 1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

main section article p{
    color: rgba(255, 255, 255, 0.74);
    column-count: 1;
    font-family:   'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2em;
}




/*  ASIDE DESKTOP VERSION  START */



main aside{
    width:100vw;
    height: auto;
    background-color: rgba(34, 34, 34, 0.548);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
main aside .container{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
aside .container .top{
    width: 300px;
    height: 200px;
    background-color: lightblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

aside .container .top .img{
    width: 300px;
    height: 200px;
    clip-path: circle(35%);
  
}

aside .container .bottom{
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
aside .container .bottom .name{
    background-color: rgba(15, 49, 71, 0.788);
    color: rgba(255, 255, 255, 0.897);
    padding: 5px;
    text-align: center;
    font: 700 1rem verdana;
    text-shadow: 1px 1px 2px #222;
    box-shadow: 3px 3px 4px #222;
}
aside .container .bottom .dicription{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: .9rem;
    text-align: justify;
    text-align-last: center;
    color: rgba(34, 34, 34, 0.822);
}

aside .container .bottom .more{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-small-caps;
    background-color: rgba(31, 112, 108, 0.082);
    padding: 10px;
    color: rgba(34, 34, 34, 0.904);
    cursor: pointer;
    margin-top: 1rem;
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.514);
    border-radius: 5px;
}
aside .container .bottom .more:hover{
    background-color: rgba(31, 112, 108, 0.233);
    font-weight: 700;
}

aside .container .bottom .hidden{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    font-size: .9rem;
    text-align: justify;
    text-align-last: center;
    color: rgba(34, 34, 34, 0.822);
}
aside .container .bottom .hide1, .hide2, .hide3, .hide4, .hide5, .hide6, .hide7, .hide8{
    display: none;
}

/*  ASIDE DESKTOP VERSION  FINISH  */






/* MOBILE slider  START   */


main #mobile{
    margin-top: 3rem;
    background-color: rgba(34, 34, 34, 0.781);
    width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    padding-left: 1.5rem;
    gap: 2rem;
    visibility: hidden;
}

main #mobile::-webkit-scrollbar{ display: none;}


main #mobile .slider{
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
}
#mobile .slider .sup{
    width: 300px;
    height: 200px;
    background-color: lightblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mobile .slider .sup img{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    outline: 4px solid rgba(34, 34, 34, 0.466);
    outline-offset: 4px;
}

#mobile .slider .sub{
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#mobile .slider .sub .txt{
    background-color: rgba(15, 49, 71, 0.788);
    color: rgba(255, 255, 255, 0.897);
    padding: 5px;
    text-align: center;
    font: 700 1rem verdana;
    text-shadow: 1px 1px 2px #222;
    box-shadow: 3px 3px 4px #222;
}

#mobile .slider .sub .info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    background-color: rgba(209, 222, 226, 0.295);
    font-size: .9rem;
    text-align: justify;
    text-align-last: center;
    color: rgba(34, 34, 34, 0.822);
}

#mobile .slider .sub .moreAbout{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-small-caps;
    background-color: rgba(31, 112, 108, 0.082);
    padding: 10px;
    color: rgba(34, 34, 34, 0.904);
    cursor: pointer;
    margin-top: 1rem;
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.514);
}

#mobile .slider .sub .close{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-small-caps;
    background-color: rgba(31, 112, 108, 0.082);
    padding: 10px;
    color: rgba(34, 34, 34, 0.904);
    cursor: pointer;
    margin-top: 1rem;
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.514);
}

#mobile .slider .sub .close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8 { display: none;}

#mobile .slider .sub .moreInfo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin-top: 5px;
    background-color: rgba(192, 166, 119, 0.39);
    font-style: oblique;
    font-size: .9rem;
    text-align: justify;
    text-align-last: center;
    color: #222;
}
#mobile .slider .sub .hide1, .hide2, .hide3, .hide4,  .hide5, .hide6, .hide7, .hide8{
    display: none;
}

/* MOBILE slider  FINISH   */








/*  MEDIA QUERY  */



@media screen and (max-width: 950px) {
    main #info h1{
        font-size: 1.5rem;
    }

    main #info {
        width: 75%;
    }

    main .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .swiper-slide img{
        height: 50vh;
    }
    main section article{
        width: 75vw;
    }
}

@media screen and (max-width: 600px) {

    .kontainer{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    main #info {
        margin-top: 1rem;
        width: 95%;
    }
  
    main #info h1{
        font-size: 1.3rem;
    }
    main #info p{
        font-size: .8rem;
    }

    main .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .swiper{
        width: 100%;
        
    }

    .swiper-slide img{
        height: 40vh;
    }

    main section{
        margin-top: 2rem;
    }

    main section article{
        width: 95vw;
    }
    main section article h1{
        font-size: 1.2rem;
    }
}